.msg {
	margin-left:100px;
	width: 350px;
	margin: 0 auto;
	display: none;
	background: #fff;
}

.login {
	border: 1px solid #000;
	width: 350px;
	margin: 0 auto;
}

.register {
	border: 1px solid #000;
	width: 350px;
	margin: 0 auto;
}

.form_login {
	margin-left: 20px;
}

a:link {
	text-decoration: none;
}

.menu a {
	color: #ffffff;
}

a:hover {
	color: black;
}

.menu {
	background: #02DF82;
}

.menu ul {
	list-style-type: none;
	display: inline-block;
}

.menu li {
	float: left;
}

.menu li+li {
	margin-left: 20px;
}

.content {
	height: 400px;
	border: 1px solid black;
}

.container {
	width: 500px;
	margin-left: 425px;
}

.tbl {
	margin-top: 20px;
	margin-left: 100px;
	border:1px solid black;
}

.tbl td {
	margin: 5px;
	padding: 10px 0px;
}

.addUser {
	margin-left: 100px;
}